{
  "presets": [
    ["@babel/env", { "targets": { "chrome": 52 }, "useBuiltIns": false, "modules": false }],
    ["@babel/stage-2", { "decoratorsLegacy": true }],
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": false,
        "moduleName": "@babel/runtime"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/env"]
    }
  }
}
