@import "../../vars";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  padding: 0.5em 1em;
  background: $bg3;
  color: $textLight;
  box-shadow: 0px 1px 5px 0px rgba(34, 36, 38, 0.15);
}

.nav {
  & button {
    background: $bg3;
    border: none;
    color: $textLight;
    margin-right: 0.2em;
    vertical-align: top;
    &:hover {
      background: darken($bg3, 5%);
    }
  }
}
