@import "../../vars";

.container {
  margin: 1em;
  display: flex;
  color: $text;
  & h1 {
    color: $text;
  }
  will-change: transform, opacity;
  animation: appear 1s ease;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
  // animation-direction: reverse;
}

.list {
  list-style: none;
  padding: 0;
  width: 300px;
  & li {
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    background: $bg;
    border-radius: 0.2em;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-50px);
    // transform: scale(0.1, 0.1, 1);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    // transform: scale(1, 1, 1);
  }
}
