@import "../vars";

.card {
  padding: 0.5em 1em;
  margin: 0.2em 0;
  position: relative;
  background: lighten($bg, 5%);
  border-radius: 0.2em;
  border: $border;
  &:hover .controls {
    display: block;
  }
}

.controls {
  display: none;
  position: absolute;
  right: 2px;
  top: 2px;
  & button {
    background: lighten($bg, 5%);
    opacity: 0.8;
    border: none;
    color: $text;
    margin-left: 0.2em;
    &:hover {
      background: darken($bg, 5%);
    }
  }
}
