@import "vars";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1.6rem = 16px
}

body {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
  //   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #a7b496;
  color: $text;
}

b,
strong,
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

:global(.box) {
  background: rebeccapurple;
}
